.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }
  .modal.show{
    opacity: 1;
    pointer-events: visible;
  }
  
  .modal.enter-done {
    opacity: 1;
    pointer-events: visible;
  }
  
  .modal.exit {
    opacity: 0;
  }
  
  .modal-content {
    width: 400px;
    background-color: #fbfbfb;
    border-radius:15px;
    transition: all 0.3s ease-in-out;
    transform: translateY(-200px);
    box-shadow: 0px 0px 15px 1px
    rgba(49, 81, 94, 0.1);
    position: absolute;
    top: 40%;
  }
  
  .modal.enter-done .modal-content {
    transform: translateY(0);
  }
  
  .modal.exit .modal-content {
    transform: translateY(-200px);
  }
  
  .modal-header{
    background: linear-gradient(88.64deg, #4FAFA8 -2.64%, #D2EAE7 95.34%);
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: space-between;
    color: white;
  }
  .modal-footer>.button{
    cursor:pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #cee1e7;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 8px;
  }
  .modal-footer{
    align-items: center;
    justify-content: flex-end;
    display: flex;
  }
  .modal-header,
  .modal-footer {
    padding: 10px;
  }
  
  .modal-title {
    margin: 0;
  }
  
  .modal-body {
    padding: 10px;
  }
  .button.form{
    margin-left:8px;
  }
  .close {
    font-size: 45px;
    font-weight: 600;
  }
  