.map-left-panel {
    height:80vh;
    width:300px;
    position: absolute;
    top:0px;
    left:-380px;
    transition: 0.5s;
    z-index: 999;
    background-color: #fbfbfb;
    border-right: 1px solid #7b7878;
}

.map-left-panel.true {
    left:0px;
    transition: 0.5s;
    box-shadow:3px 3px 3px 2px rgba(0,0,0,0.1);
}
.map-left-panel>.map-left-panel-button {    
    position: absolute;
    top:calc(50% - 60px);
    right:-20px;
    width:20px;
    height:100px;
    background-color:#d4d4e1;
    box-shadow:3px 2px 3px 2px rgba(0,0,0,0.1);
    cursor:pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.5s;
}
.map-left-panel>.map-left-panel-button>.panel-icon{
    width:20px !important;
    height:20px !important;
    margin-top:40px;
    background-size:30px 30px !important;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%) brightness(10%) sepia(100%) hue-rotate(140deg) saturate(1000%) contrast(0.8);
}  
.map-left-panel>.map-left-panel-button>.panel-icon.icon-left{
    background-image: url('../../icons/icon-left.svg'); 
}
.map-left-panel>.map-left-panel-button>.panel-icon.icon-right{
    background-image: url('../../icons/icon-right.svg'); 
}




